article {
    & div.block { border: solid 1px transparent;
        &:hover { border: dashed 1px #888 !important;
            .editable, .field, .form-control, .form-select {
                border: dotted 1px #888 !important;;
            }
        }
        > span.type { top: 5px; left: 8px; z-index: 3 }
        & div.menu {
            .dropdown-menu { padding: 0;
                &[x-placement="bottom-start"],
                &[x-placement="bottom-end"] { top: -2px !important; } 
                &[x-placement="top-start"] { bottom: -2px !important; } 
                & div.dropdown-item { padding: 0.1em 1em;
                    & .btn { padding: 0; }
                }
            }
        }
        &.block-type-main {
            div.main {
                &:not(.image) div.text h1 { color: #333; }
                & div.text {
                    & select, & input {
                        width: auto !important; 
                        text-align: center; background-color: transparent;
                        text-shadow: 1px 1px black;
                    }
                    & div.category { width: fit-content;
                        & select { color: black; font-weight: bold; font-size: 1.3em;
                            letter-spacing: 0.3em; -webkit-text-stroke: 1px white;
                            margin: 0 auto;
                        }
                    }
                    & div.user { width: fit-content; 
                        & input { 
                            max-width: auto; color: white; 
                            font-style: italic; font-size: 1.3em;
                        }
                        ul { width: 100%; font-style: normal; text-align: center;
                            text-shadow: none; margin: 0 auto; display: block; 
                            li { padding: 3px 8px; margin: 0; }
                        }
                    }
                    & div.date { width: fit-content; 
                        & input { font-size: 1.3em; color: white; }
                    }
                }
                & div.image {
                    & div.buttons { max-width: 600px; bottom: 40px; padding: 5px 3px; }
                    & div {
                        &:empty {
                            &.source::before { content: 'Facebook'; }
                            &.author::before { content: 'MediaCMS'; }
                        }
                    }    
                }
            }
        }
        &.block-type-text {
            p { max-width: 768px; padding: 0 5px; margin: 2em auto; }
            &:nth-child(2) {
                p { 
                    color: #666 !important; 
                    font: 300 1.1em/1.5 'Open Sans', sans-serif !important;
                }
           }
        }
        &.block-type-image {
            figure {
                & figcaption { padding: 8px 5px;
                    &:empty::before { color: #000; 
                        content: 'Чиновник на лаві підсудних за корупцію';
                    }
                }
                & div.copyright {
                    & div {
                        &:empty {
                            &.source::before { content: 'Facebook'; }
                            &.author::before { content: 'MediaCMS'; }
                        }
                    }
                }
            }
        }
        &.block-type-video {
            & textarea {
                min-width: 800px; min-height: 120px; font-size: 17px;
                text-align: center; margin: 2em auto; display: block;
            }
        }
        &.block-type-facebook {
            & textarea {
                min-width: 800px; min-height: 170px; font-size: 17px;
                text-align: center; margin: 2em auto; display: block;
            }
        }
        &.block-type-twitter {
            & textarea {
                min-width: 790px; min-height: 170px; font-size: 17px;
                text-align: center; margin: 2em auto; display: block;
            }
        }
        &.block-type-map {
            & textarea {
                min-width: 800px; min-height: 200px; font-size: 17px;
                text-align: center; margin: 2em auto; display: block;
            }
        }
        &.block-type-table {
            & div.mce-content-body { margin: 2em auto 0;
                & table { margin: 1em !important; & tr { & td {
                    min-width: 1em; min-height: 1em; padding: 0.4em !important;
                }}}
            }
        }
        &.block-type-list { ul { margin: 2em auto; } }
        &.block-type-quote {
            & blockquote { width: fit-content; margin: 2em auto;
                & p {
                    &:empty::before {
                        content: '"Чужого навчайтесь та свого не цурайтеь';
                    }
                }
                & footer { margin: 0.5rem; display: flex;
                    & span { padding: 0.5rem; white-space: nowrap;
                        &.link { color: #666; font-size: 0.7em; align-self: center;
                            padding: 0.5rem; margin-right: auto; overflow: hidden; 
                            &:empty::before { content: 'https://example.com'; }
                        }
                        &.name {
                            &::before { content: '— '; }
                            &:empty::before { content: 'Тарас Шевченко'; }
                            &::after { content: ', '; }
                        }
                        &.work { font-style: italic;
                            &:empty::before { content: 'Кобзар'; }
                        }
                    }
                }
            }
        }
        &.block-type-code { 
            & pre {
                &.editable { padding: 1em; }
                & code { padding: 1em; }
            }
        }
        /*
        & ul, & div.mce-content-body, & div.video figure, & div.video div.url,
        & address, & pre, .field {
            width: fit-content; height: fit-content; min-width: 150px; min-height: 2em;
        }
        */
        .editable, .form-control, .form-select { border: dotted 1px transparent;
            width: fit-content; height: fit-content; min-width: 150px; min-height: 1em;
        }
        .editable:empty { font-style: italic; opacity: 0.5;
            &:focus::before { content: ''; }
        }
    }
}
.tox { width: auto !important; z-index: 999 !important; }
.tox-tinymce-aux { z-index: 999999 !important; }
