div.images { margin: -1px;
  & div.image {
    width: 152px; height: 114px; line-height: 95px;
    text-align: center; vertical-align: middle; padding: 10px;
    & img { max-width: 100%; max-height: 100%; object-fit: cover; }
    &.image-muted {
      & img {
        opacity: 0.5;
        &:hover { opacity: 1; }
      }
    }
  }
}
