div.image { position: relative;
  & img { width: 100%; }
  & div.menu { position: absolute; top: 5px; right: 5px; z-index: 1; opacity: 0.25;
    & button { margin: 5px; }
  }
  &:hover  {& div.menu { opacity: 1.0; }}
}