/**
 * Головний файл стилів
 *
 * @author      Артем Висоцький <a.vysotsky@gmail.com>
 * @package     MediaCMS\Panel
 * @link        https://github.com/MediaCMS
 * @copyright   GNU General Public License v3
 */
html {
  body {
    a {}
    img {border-radius: 3%;}

    header {
      nav {
        a.navbar-brand {
          img {width: 28px; border-radius: 3px;opacity: 0.5; margin-top: -3px;}
          & :hover {opacity: 0.9;}
        }
        div.navbar-collapse {
          ul.navbar-nav {
            li:last-child {padding-left: 15px;}
          }
        }
        div.user {height: 28px;line-height: 28px;padding-right: 42px; position: relative;
          img {width: 28px; height: 28px; border-radius: 7% / 10%; transition: width 0.7s, height 0.7s;
            position: absolute; top: 0; right: 0; z-index: 9999; object-fit: cover;
            &:hover {width: 160px; height: 160px;}
          }
        }
      }
    }

    main {min-height: 80vh;
      div.body {
        &.action-index {
          table {
            tr {cursor: pointer;}
            tr.disabled td {color: gray;}
          }
        }
        &.action-edit {
          form {
            max-width: 480px;
            &.extended {max-width: 720px;
              div.ck-content {height: 500px;}
            }
            div.standard {border: solid 1px #ccc; padding: 20px 20px;}
            div.form-group.row {
              div.image {position: relative;
                img {width: 100%;
                  &:hover {opacity: 0.15; cursor: pointer;}
                }
                svg {width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: -1;}
              }
            }
          }
        }
        &.controller-user.action-login {padding-top: 10vh;}
        div.autocomplete {
          div.autocomplete-input {
            input {}
          }
          div.autocomplete-list {position: relative;
            ul {width: 100%; list-style-type: none; padding: 0; margin: 0; position: absolute; z-index: 10;
              li {border: 1px solid #ddd; background-color: #f6f6f6; padding: 6px 12px; margin-top: -1px;
                &:hover {background-color: #eee; cursor: pointer;}
              }

            }
          }
          div.autocomplete-selected {position: relative; margin: 5px -5px -5px;
            button {margin: 5px 5px; &:hover {text-decoration: line-through}}
          }
        }
      }
    }

    footer {}

    #debug {
      div.mapper {
        table {
          tbody {line-height: 180%;
            td.string {font-size: 1.2rem; font-family: "Courier New",Courier,monospace; margin: 0;
              pre {color: green; white-space: pre-wrap; margin: 0;
                span {color: blue; font-weight: normal;}
              }
            }
          }
        }
      }
    }
  }
}

