@charset "UTF-8";
/** Головний файл стилів  @author      Артем Висоцький <a.vysotsky@gmail.com> @package     MediaCMS\Panel @link        https://github.com/MediaCMS @copyright   GNU General Public License v3 */
html body img { border-radius: 3%; }
html body header nav a.navbar-brand img { width: 28px; border-radius: 3px; opacity: 0.5; margin-top: -3px; }
html body header nav a.navbar-brand :hover { opacity: 0.9; }
html body header nav div.navbar-collapse ul.navbar-nav li:last-child { padding-left: 15px; }
html body header nav div.user { height: 28px; line-height: 28px; padding-right: 42px; position: relative; }
html body header nav div.user img { width: 28px; height: 28px; border-radius: 7% / 10%; transition: width 0.7s, height 0.7s; position: absolute; top: 0; right: 0; z-index: 9999; object-fit: cover; }
html body header nav div.user img:hover { width: 160px; height: 160px; }
html body main { min-height: 80vh; }
html body main div.body.action-index table tr { cursor: pointer; }
html body main div.body.action-index table tr.disabled td { color: gray; }
html body main div.body.action-edit form { max-width: 480px; }
html body main div.body.action-edit form.extended { max-width: 720px; }
html body main div.body.action-edit form.extended div.ck-content { height: 500px; }
html body main div.body.action-edit form div.standard { border: solid 1px #ccc; padding: 20px 20px; }
html body main div.body.action-edit form div.form-group.row div.image { position: relative; }
html body main div.body.action-edit form div.form-group.row div.image img { width: 100%; }
html body main div.body.action-edit form div.form-group.row div.image img:hover { opacity: 0.15; cursor: pointer; }
html body main div.body.action-edit form div.form-group.row div.image svg { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: -1; }
html body main div.body.controller-user.action-login { padding-top: 10vh; }
html body main div.body div.autocomplete div.autocomplete-list { position: relative; }
html body main div.body div.autocomplete div.autocomplete-list ul { width: 100%; list-style-type: none; padding: 0; margin: 0; position: absolute; z-index: 10; }
html body main div.body div.autocomplete div.autocomplete-list ul li { border: 1px solid #ddd; background-color: #f6f6f6; padding: 6px 12px; margin-top: -1px; }
html body main div.body div.autocomplete div.autocomplete-list ul li:hover { background-color: #eee; cursor: pointer; }
html body main div.body div.autocomplete div.autocomplete-selected { position: relative; margin: 5px -5px -5px; }
html body main div.body div.autocomplete div.autocomplete-selected button { margin: 5px 5px; }
html body main div.body div.autocomplete div.autocomplete-selected button:hover { text-decoration: line-through; }
html body #debug div.mapper table tbody { line-height: 180%; }
html body #debug div.mapper table tbody td.string { font-size: 1.2rem; font-family: "Courier New",Courier,monospace; margin: 0; }
html body #debug div.mapper table tbody td.string pre { color: green; white-space: pre-wrap; margin: 0; }
html body #debug div.mapper table tbody td.string pre span { color: blue; font-weight: normal; }

/*# sourceMappingURL=index.css.map */
