html { min-height: 100%; font-size: calc(12px + 0.5vw);
  --bs-secondary-color: #e9ecef;
  body {
    min-height: 100vh; color: #303030; line-height: calc(130% + 0.5vw); background-color: #ffffff;
    padding: 0; margin: 0; position: relative;
    header, footer {
      a {
        &.active { /*pointer-events: none;cursor: default; */ text-decoration: none; color: black; }
      }
    }
    img { border-radius: 1%; }
    table {
      tr.text-muted {
        th, td { color: #c2c9d6 !important; }
        &:hover {
          th, td { color: initial !important; }
        }
      }
    }
   
    main {
      #body { min-height: 50vh; margin: 0 auto;
        &.width-small {max-width: 640px;}
        &.width-medium {max-width: 768px;}
        &.width-large {max-width: 960px;}
        &.width-full {max-width: initial;}
        //&.index {}
        form {
          input[type='datetime-local'], input[type='number'], select {width: auto;}
          img {
            &:hover {opacity: 0.3; cursor: pointer;}
          }
          div.autocomplete {
            button {
              &:hover {
                color: var(--bs-white); border-color: var(--bs-danger);
                background-color: var(--bs-danger); text-decoration: line-through;
              }
            }
          }
        }
      }
      .mw-sm {max-width: 576px;}
      .mw-md {max-width: 768px;}
      .mw-lg {max-width: 992px;}
      .screen {
        min-width: 100vw; height: 50vh;text-align: center;vertical-align: middle; display: table-cell;
      }
    }

    footer {
      div.alert {max-width: 768px; margin: 20px auto;}
    }
  }
}